# REACT BOILER PLATE
# Below rules are for content
RewriteRule ^/(.*)$  /$1 [L]
RewriteRule ^/assets/(.*)$  /assets/$1 [L]
RewriteRule ^/js/(.*)$  /js/$1 [L]
RewriteRule ^/config/(.*)$  /config/$1 [L]

# Below rules are for content
RewriteRule ^/error/(.*)$   / [L]
RewriteRule ^/error   / [L]

#  # Below rules are generic
RewriteRule ^/ /index.html [L]